.create-category {
    .url {
        transform: scale(0.96);
        background-color: lighten($white, 4%);
        font-size: 16px;
        border: 1px solid darken($white, 16%);
        border-radius: 5px;
        .https {
            color: rgb(10, 141, 86);
        }
        .endpoint {
            color: rgba($font-color-primary, 0.7);
        }
        .ssl {
            transition: all .15s ease-out;
            cursor: default;
            &:hover {
                background-color: darken($white, 4%);
                &>.divider {
                    opacity: 0;
                }
            }
        }
    }
}