@import 'animations';
.content__input {
    color: $white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($white, .3);
    border-radius: 0;
    &:focus,
    &:active {
        color: $white;
        background-color: rgba($white, .1);
        box-shadow: none;
    }
    &:hover,
    &:focus,
    &:active {
        border-bottom-color: rgba($white, .9);
    }
}

.content__input--dark {
    color: lighten($font-color-primary, 4%);
    border-bottom-color: rgba($font-color-primary, .3);
    @extend .content__input;
    &:focus,
    &:active {
        color: darken($primary-color, 24%);
        background-color: rgba($font-color-primary, .1);
        box-shadow: none;
    }
    &:hover,
    &:focus,
    &:active {
        border-bottom-color: rgba($font-color-primary, .9);
    }
}

.form__button--submit {
    padding: 5px 25px;
    padding-left: 20px;
    color: $text-white;
    background-color: transparent;
    border: 1px solid $text-white;
    border-radius: 25px;
    transform: scale(.95);
    transition: all .1s ease-in-out;
    &:hover {
        color: $white;
        border-color: $white;
    }
}

.form__button--register {
    padding: 10px 45px;
    padding-left: 41px;
    font-size: 14px;
    color: $white;
    border-color: $white;
    font-weight: $font--bold;
    border-width: 1px;
    transform: scale(0.95) translateY(0px);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: squeeze-in-out;
    transition: all .1s ease-in-out;
    @extend .form__button--submit;
    &:hover {
        color: rgba($white, 1);
        transform: translateY(3px) scale(0.96);
    }
}

.form__button--register-dark {
    width: 100%;
    padding: 15px 0;
    background-color: lighten($btn-positive, 4%);
    border-color: $btn-positive;
    transform: scale(1);
    animation: none;
    @extend .form__button--register;
    &:hover {
        background-color: $btn-positive;
        border-color: $btn-positive;
        transform: translateY(3px) scale(1);
    }
}

.form__button--positive-dark {
    background-color: lighten($btn-positive, 4%);
    border: 1px solid $btn-positive;
    border-color: $btn-positive;
    transform: scale(1);
    animation: none;
    @extend .form__button--register;
    &:hover {
        background-color: $btn-positive;
        border: 1px solid $btn-positive;
        transform: scale(1);
    }
}

.form__button--passive-dark {
    background-color: $white;
    border-color: darken($white, 8%);
    color: $font-color-primary;
    @extend .form__button--positive-dark;
    &:hover {
        background-color: darken($white, 4%);
        color: $font-color-primary;
        border-color: darken($white, 10%);
    }
}
.section-block {
    background-color:#fff;
    padding: 20px 20px;
    width: 100%;
}

@import './confirm-account';