.confirm-account {
  .confirm-account-block {
    background-color: $btn-positive;
    padding: 10px 15px;
    color: $white;
    border-radius: 4px;
    font-weight: $font--light;
    border: 1px solid rgba(darken(#ee3261, 20%), 0.1);
    border-bottom: 3px solid rgba(darken(#ee3261, 20%), 0.3);
    background-image: linear-gradient(to right, #ee3261 0%, #faa666 100%);
  }
}
