@import 'variables';
@import 'utilities';
@import 'refresh';
@import 'layouts/layout';
@import 'pages/pages';
@import 'components/components';
body {
    font-family: 'Lato', sans-serif;
}

.router-link-active {}

.forum-post__title {
    font-size: 24px;
}

.picture-placeholder {
    border-radius: 50px;
}

.section-fixed {
    position: fixed;
    width: 100%;
}

.btn {
    cursor: pointer;
}

.forum__topic-content {
    pre {
        background-color: lighten(#ffffff, 2%);
        padding: 5px 10px;
        margin: 10px 2px;
        color: darken($font-color-primary, 4%);
        max-width: 800px;
        border-radius: 6px;
        border: 1px dotted darken(#fff, 14%);
    }
}

.forum__title {
    color: #000;
    font-weight: bold;
    font-size: 40px;
    a {
        font-size: 40px;
    }
}

.forum__sub-title {
    background-color: darken($white, 4%);
    border: 1px solid darken($white, 8%);
    width: 180px;
    color: darken($white, 48%);
    border-radius: 10px;
    font-size: 18px;
}